@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lobster&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    color: #2e2f33;
    background-color: #F2F2EF;
    margin: 0;
}

/* header */

h1 {
    font-family: 'Lobster', cursive;
    color: #F2F2EF;
    line-height: 270px;
    margin-left: 50px;
    font-size: 400%;
    letter-spacing: 3px;
    margin-top: 0;
    margin-bottom: 0;
}

#header {
    height: 270px;
    width: 100%;
    background-image: url(../images/header.jpg);
    background-size: cover;
}

#navigation {
    position: absolute;
    top: 0;
    right: 50px;
    margin: 0;
}

#navigation li {
    float: left;
    list-style-type: none;
    font-size: 140%;
    margin: 5px;
    line-height: 270px;
}

#navigation li a {
    color: #F2F2EF;
    text-decoration: none;
    padding: 5px;
}

#navigation a:hover {
    color: red;
    border: solid 2px red;
}

.active {
    border: solid 1px white;
}

/* main section on front page */

#main {
    height: 540px;
    width: 100%;
    color: #F2F2EF;
    background-color: #2e2f33;
}

#inside-shop {
    height: 360px;
    width: 44.5%;
    float: right;
    padding-right: 5%;
    padding-left: 0.5%;
}

#main h2 {
    font-size: x-large;
    text-align: center;
    line-height: 100px;
    margin: 0;
}

#main p {
    font-size: x-large;
    width: 44.5%;
    float: left;
    letter-spacing: 2px;
    padding-left: 5%;
    padding-right: 0.5%;
}

/* opening hours and prices */

#opening-hours {
    background: url(../images/pexels-henry-&-co-7467270.jpg) center center;
    background-size: cover;
    text-align: center;
    height: 450px;
    width: 50%;
}

#prices-wraper {
    position: relative;
}

#prices {
    height: 450px;
    width: 50%;
    background-color:#F2F2EF;
    position: absolute;
    top: 0;
    left: 50%;
}

#opening-hours table {
    display: inline;
}

#opening-hours h2 {
    margin-top: 0;
    line-height: 100px;
    font-size: 200%;
}

#opening-hours td {
    padding: 30px;
    display: inline-block;
    font-size: 170%;
    font-weight: bold;
}

#prices {
    background: url(../images/tools.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 170%;
    font-weight: bold;
}

#prices p {
    padding-bottom: 1rem;
    color: #F2F2EF;
}

#prices h2 {
    padding-bottom: 2rem;
    line-height: 50px;
    color: #F2F2EF;
}

/* Footer */

footer {
    height: 110px;
    background-color: #2e2f33;
    width: 100%;
    text-align: center;
    color: #F2F2EF;
}

footer li {
    display: inline;
    padding: 0 2%;
}

footer i {
    font-size: 160%;
    color: #F2F2EF;
}

footer ul {
    margin: 0;
    padding-top: 30px;
    padding-left: 0;
}

/* Contact Page */

#contact {
    height: 1200px;
    width: 100%;
    background-color: #2e2f33;
}

/* Gallery Page*/

#gallery {
    height: 1200px;
    width: 100%;
    background-color: #2e2f33;
}